openapi: 3.0.3
info:
  title: Relay API
  version: 0.1.0
  description: |
    The Relay system provides decentralized content hosting and peer-to-peer networking.

    ## Components

    ### Tracker API
    The tracker maintains a registry of relay peers and their capabilities.

    ### Relay Server API
    Individual relay servers provide Git-based content hosting with HTTP access.

servers:
  - url: https://www.relaynet.online/
    description: Online Relay Tracker
  - url: https://relay.example.com/
    description: Example Relay Server (replace with actual relay URLs)

paths:
  # Tracker API endpoints
  /api/peers:
    get:
      summary: List registered peers
      description: Returns a list of all registered relay peers with their socket URLs, repositories, and branch information.
      operationId: listPeers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Database ID of the peer
                    socket:
                      type: string
                      description: WebSocket or HTTP URL of the peer
                      example: "ws://relay.example.com:8088"
                    repos:
                      type: array
                      items:
                        type: string
                      description: List of repository names hosted by this peer
                    branches:
                      type: array
                      items:
                        type: object
                        properties:
                          repo:
                            type: string
                            description: Repository name
                          branch:
                            type: string
                            description: Branch name
                          commit:
                            type: string
                            description: Commit hash
                    updatedAt:
                      type: string
                      format: date-time
                      description: Last update timestamp
        '503':
          description: Database unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

    post:
      summary: Register or update a peer
      description: Register a new peer or update an existing peer's information including socket URL, repositories, and branch heads.
      operationId: upsertPeer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - socket
              properties:
                socket:
                  type: string
                  description: WebSocket or HTTP URL of the peer
                  example: "ws://relay.example.com:8088"
                domain:
                  type: string
                  description: Domain name for the peer (optional)
                ipv4:
                  type: string
                  description: IPv4 address (optional)
                ipv6:
                  type: string
                  description: IPv6 address (optional)
                repos:
                  type: array
                  items:
                    type: string
                  description: List of repository names
                branches:
                  type: array
                  items:
                    type: object
                    required:
                      - repo
                      - branch
                      - commit
                    properties:
                      repo:
                        type: string
                      branch:
                        type: string
                      commit:
                        type: string
      responses:
        '200':
          description: Peer registered/updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  socket:
                    type: string
                  domain:
                    type: string
                    nullable: true
                  ipv4:
                    type: string
                    nullable: true
                  ipv6:
                    type: string
                    nullable: true
                  repos:
                    type: array
                    items:
                      type: string
                  branches:
                    type: array
                    items:
                      type: object
                      properties:
                        repo:
                          type: string
                        branch:
                          type: string
                        commit:
                          type: string
                  updatedAt:
                    type: string
                    format: date-time
        '400':
          description: Invalid request
        '500':
          description: Server error

  /api/peers/probe:
    post:
      summary: Test peer connectivity
      description: Test whether a peer socket URL is reachable by attempting a TCP connection.
      operationId: probePeer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - socket
              properties:
                socket:
                  type: string
                  description: Socket URL to test
                  example: "ws://relay.example.com:8088"
      responses:
        '200':
          description: Connectivity test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Whether the connection was successful
                  info:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [connected]
                      error:
                        type: string
        '400':
          description: Invalid socket URL
        '503':
          description: Connection failed
        '500':
          description: Server error

  # Relay Server API endpoints
  /openapi.yaml:
    get:
      summary: Get OpenAPI specification
      description: Returns the OpenAPI specification for this relay server.
      operationId: getOpenAPISpec
      responses:
        '200':
          description: OpenAPI YAML specification
          content:
            application/yaml:
              schema:
                type: string

  /swagger-ui:
    get:
      summary: Swagger UI
      description: Interactive API documentation interface.
      operationId: getSwaggerUI
      responses:
        '200':
          description: HTML page with Swagger UI
          content:
            text/html:
              schema:
                type: string

    /api/dns/upsert:
      post:
        summary: Upsert DNS records via Vercel
        description: Create or update A/AAAA/CNAME records for a given domain. This endpoint wraps Vercel DNS APIs and is intended for administrative use.
        operationId: dnsUpsert
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                  - ip
                properties:
                  domain:
                    type: string
                    description: Domain to update (defaults to env VERCEL_DNS_DOMAIN)
                  name:
                    type: string
                    description: Subdomain label or '@' for root
                  ip:
                    type: string
                    description: Single-value compatibility IP (ipv4 or ipv6)
                  ipv4:
                    type: string
                  ipv6:
                    type: string
                  type:
                    type: string
                    enum: [A, AAAA, CNAME]
                  ttl:
                    type: integer
                  teamId:
                    type: string
                  slug:
                    type: string
        responses:
          '200':
            description: Records upserted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    domain:
                      type: string
                    fqdn:
                      type: string
                    results:
                      type: array
                      items:
                        type: object
          '400':
            description: Invalid request
          '401':
            description: Missing admin token (TRACKER_ADMIN_TOKEN)
          '500':
            description: Server error

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token for admin operations (optional for most endpoints)

security:
  - bearerAuth: []