apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: relay-daemon
  labels:
    app: relay
spec:
  selector:
    matchLabels:
      app: relay
  template:
    metadata:
      labels:
        app: relay
    spec:
      hostNetwork: true
      hostPID: false
      tolerations:
        - operator: "Exists"
      containers:
        - name: relay
          image: ghcr.io/clevertree/relay:main
          imagePullPolicy: IfNotPresent
          env:
            - name: RELAY_DNS_SUBDOMAIN
              value: "node1"
            - name: RELAY_CERTBOT_EMAIL
              value: "ari@clevertree.com"
            - name: VERCEL_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: relay-credentials
                  key: VERCEL_API_TOKEN
            - name: VERCEL_TEAM_ID
              valueFrom:
                secretKeyRef:
                  name: relay-credentials
                  key: VERCEL_TEAM_ID
          ports:
            - containerPort: 80
            - containerPort: 443
          securityContext:
            runAsUser: 0
            privileged: false
